@{
    ViewBag.Title = "You are not authorize";
}
<div id="tab-general">
    <div class="row mbl">
        <div class="col-lg-12">
            <div class="tab-content responsive">
                <div class="card-body form-horizontal">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <img src="~/images/icons/error.png" width="55%" />
                        </div>
                        <div class="col-sm-10">
                            <strong>Unauthorized: Access is denied due to a role-based page access. Authorization failure.</strong>
                            <br /><br />
                            You do not have permission to view this application page using the credentials that you provided.<br />
                            Contact your support team or administrator to add your account into appropriate group. Wait until the new role/permission assignments take effect, and then try again.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>