@using BEL.DCRDCNWorkflow.Models.DCR;
@using BEL.DCRDCNWorkflow.Models.Common;
@using BEL.CommonDataContract;

   @section buttons{
  <a id='btndraft' class='btn btn-default' style="float:right;margin-right:20px;" onclick='Print(this);' data-action='26' data-sendbackto='' data-sendtorole=''><i class='fa fa-print'></i> Print</a>
}


    @*<div id="divDCRForm">
        
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="tab-content responsive " id="generalTabContent">
                       @Html.Partial("_printDCR")
                    </div>
                </div>
            </div>
        </div>

    </div>*@
